.NotifWrapper{
    display: flex;
    padding: 20px;
    margin:20px;
    border-radius: 20px;
}

.NotifWrapperLeft{
    width: 20%;
    /*background-color: red;*/


}

.NotifWrapperRigth{
    width: 80%;
    /*background-color: blue; */

}








